<div class="top-section-usj-ticket">


	<div class="container-fluid banner_section  information-usj pt-5 ">
		<div class="top row">
			<div class="col-lg-6 col-md-12">
				<a href="https://www.usj.edu.lb/" target="_blank">

					<img class="logotopsection " src="{{ asset('build/images/usjticket/logofondation.png') }}"/>
				</a>
			</div>

			<div class="d-flex hotline-reserve mt-3 col-lg-6 col-md-12  ">
				<div class="row-hot-reser">
					<div class="d-flex   col-lg-6 col-md-10">
						<span>
							<a href="tel:+9611421135">
								<span class="text-phone"><img src="{{asset('build/images/usjticket/Phone.png')}}" style="margin-right: 10px;"/>
									+961-01-421135
								</span>
							</a>
						</span>
					</div>
					<div class="d-flex  col-lg-6 col-md-12">
						<span>
							<button class="reservervosplace">
								<a href='#reserveyourplace'>
									Réservez Vos Places
								</a>
							</button>
						</span>
					</div>
				</div>

			</div>

			<div class="row w-100 mt-5 top-mid">
				<div
					class="col-lg-6  AVAVenueAchrafieh">


					<!-- Text overlay -->
					<div class=" text-overlay">
						<div class="d-flex">
							<div class="left">
								<div class="backgroud-left">
									<p class="title">Oct</p>
									<p class="sub" style="margin-top: -10px;">26</p>
								</div>

							</div>
							<div class="right">
								<div class="backgroud-right">
									<a href="https://maps.app.goo.gl/UV8jXon2hKMuKxZz9" target="_blank" style="cursor: pointer;">
										<p style="text-align:left" class="ava">AVA Venue Achrafieh</p>
										<p style="margin-top: -10px;  text-align:left " class="down event">
											<span>
												<img src="{{ asset('build/images/usjticket/mylocation.png') }}" alt="Location Image"/>
												Event venue in Beirut
											</span>

										</p>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-6 FrameBackground">
					<div class="box">
						<div class="top">
							USJ 150 ANS</div>
						<div class="title">
							Le Grand Dîner de l’USJ</div>
						<div class="sub">
							Dans le cadre de ses 150 ans, l’USJ organise le premier Grand dîner au Liban au profit des bourses aux étudiants, le samedi 26 octobre 2024 à AVA Venue Achrafieh.
						</div>
						<div class="btn-reserv">
							<button>
								<a href='#reserveyourplace'>
									Réservez Vos Places
								</a>
							</button>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

	<div class="top-body">
		<div
			class="box-body-top row">
			<!-- Logo on the left for desktop and on top for mobile -->
			<div class="logo-img col-sm-12 col-md-4 col-lg-4 order-sm-1 order-md-0">
				<img src="{{ asset('build/images/usjticket/logousjsoir.png') }}" alt="Logo">
			</div>

			<!-- Text on the right for desktop and below logo for mobile -->
			<div class="text col-sm-12 col-md-8 col-lg-8 order-sm-2 order-md-1">
				<p class="title">Un Soir D’espoir</p>
				<p class="sub-title">Investissons ensemble dans notre avenir célébrons nos 150 ans d’excellence</p>
			</div>
		</div>
	</div>
</div>
